*{
	margin: 0px;
	padding: 0px;
}

body{
	background: #748DA6;
	font-family: 'comic sans ms';
}

form.box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #D3CEDF;
	padding: 45px;
	width: 350px;
	text-align: center;
	color: white;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
	border-radius: 3px;
}

.BorderTopBottom:before{
	content: "";
	position: absolute;
	width: 90px;
	height: 3px;
	top: -6px;
	left: -7px;
	background: #9CB4CC;
	transition: all 1s ease;
}

.BorderTopBottom:after{
	content: "";
	position: absolute;
	width: 90px;
	height: 3px;
	bottom: -6px;
	right: -7px;
	background: #9CB4CC;
	transition: all 1s ease;
}

.BorderLeftRight:before{
	content: "";
	position: absolute;
	top: -3px;
	left: -7px;
	width: 3px;
	height: 65px;
	background: #9CB4CC;
	transition: all 1s ease;
}

.BorderLeftRight:after{
	content: "";
	position: absolute;
	bottom: -3px;
	right: -7px;
	width:3px;
	height: 65px;
	background: #9CB4CC;
	transition: all 1s ease;
}

.box:hover .BorderTopBottom:before, .box:hover .BorderTopBottom:after{
	width: 450px;
}

.box:hover .BorderLeftRight:before, .box:hover .BorderLeftRight:after{
	height: 365px;
}


form.box h1{
	background: linear-gradient(to right, #A084CF, purple);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	letter-spacing: 5.0px;
	font-size: 35px;
	text-shadow: 0px 0px 5px #816797;
}

form.box input[type = "text"], form.box input[type = "password"]{
	text-align: center;
	padding: 11.5px;
	background: none;
	border: 2px solid #90C8AC;
	outline: none;
	color: purple;
	border-radius: 20px;
	font-size: 16px;
	width: 230px;
	transition: 0.4s;
}

form.box input[type = "text"]:focus, form.box input[type = "password"]:focus{
	outline: none;
	border: 2px solid #F0EBE3;
	width: 290px;
}

form.box input[type = "checkbox"]{
	margin-top: 10px;
	margin-bottom: 10px;
	transform: scale(1.3);
}

form.box input[type = "submit"]{
	background: none;
	width: 100px;
	border: 2px solid #D3CEDF;
	color: purple;
	padding: 12px;
	border-radius: 20px;
}

form.box input[type = "submit"]:hover{
	border: 2px solid #E8A0BF;
	background: #F2D7D9;
}

form.box input[type = "submit"]:focus{
	outline: none;
}

